In [1]:
# import relevant package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Gathering the data

In [2]:
# import data into workspace
data = pd.read_csv('Crime_Data_from_2020_to_Present.csv')
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [12]:
len(data['Crm Cd Desc'].unique())

140

In [13]:
data['Crm Cd'].unique()

array([510, 330, 480, 343, 648, 310, 805, 806, 946, 745, 626, 210, 341,
       230, 354, 624, 442, 662, 900, 901, 440, 740, 121, 331, 888, 520,
       437, 668, 410, 956, 930, 845, 661, 420, 812, 761, 320, 753, 623,
       522, 820, 850, 450, 627, 625, 886, 236, 755, 890, 903, 220, 231,
       649, 664, 815, 251, 922, 951, 920, 250, 350, 235, 940, 237, 470,
       810, 860, 822, 813, 651, 122, 434, 647, 762, 932, 910, 110, 763,
       441, 821, 902, 814, 756, 433, 421, 352, 443, 660, 666, 950, 943,
       439, 933, 345, 928, 351, 670, 652, 949, 760, 622, 446, 113, 438,
       471, 451, 436, 653, 654, 474, 921, 485, 954, 942, 487, 944, 347,
       865, 870, 473, 880, 475, 444, 435, 906, 931, 349, 353, 452, 924,
       840, 948, 884, 904, 830, 432, 882, 445, 926, 453])

In [18]:
# extract the crime code into the new DataFrame
crime_code = {'code': data['Crm Cd'].unique(), 'desc': data['Crm Cd Desc'].unique()}
crime_code_df = pd.DataFrame(data=crime_code)
crime_code_df.head()

   code                                      desc
0   510                          VEHICLE - STOLEN
1   330                     BURGLARY FROM VEHICLE
2   480                             BIKE - STOLEN
3   343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4   648                                     ARSON

In [ ]:
crime_code_df.to_csv('crime_code.csv')

## Transform the data

After understanding the informaiton, we will inspect and transforme the data into machine-friendly format.